body{
    margin: 0;
   
}
#container {
    display: flex;
    border: 1px solid rgb(78, 169, 230);
    width: 99.9%;
    height: 660px;
    flex-direction: column;
    background: url('https://static.vecteezy.com/system/resources/thumbnails/002/019/447/original/dark-blizzard-background-loop-free-video.jpg');
}
#finalScoreContainer{
    flex: 2;
    background: rgba(174, 178, 199, 0.678);
}
#gameContainer{
    display: flex;
    flex: 10;
}

#gameLog{
    flex: 4;
    background: rgba(159, 163, 182, 0.678);
}
.game{
    background: rgba(164, 208, 226, 0.603);
    flex: 6;
    display: flex;
    border-top: thick double rgba(190, 103, 32, 0.815);
    border-bottom:  thick double rgba(190, 103, 32, 0.815);
}
.playerChoice{
    background: rgba(250, 199, 133, 0.733);
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border:  thick double rgba(190, 103, 32, 0.815);
    border-left: none;
   

}
.scores{
    background: rgba(250, 199, 133, 0.733);
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border:  thick double rgba(190, 103, 32, 0.815);

}
button{
    background: center rgba(66, 142, 161, 0.253);
    color: rgb(255, 255, 255);
    border-radius: 12px;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
}
#enemySide, 
#playerSide{
    display: flex;
    flex-direction: column;
    flex: 4;

}
#enemySide div, 
#playerSide div{
    flex: 1;

}